
# binários e libs
*.exe
*.exe~
*.dll
*.so
*.dylib


/bin/
/build/
/dist/
# Binários de teste
*.test

coverage.out
*.coverprofile
# Diretórios padrão do go e inputs e outputs da aplicacao
/pkg/
/input/
/output/

/vendor/
# Arquivos temporários e de log
*.log
*.tmp
*.temp
*.out
*.html
# Variáveis de ambiente
.env
.env.local
# IDE
.idea/
*.iml
.vscode/
# macOS
.DS_Store
#  cache
.cache/

